ul {
    list-style: none;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

#__nuxt{
    padding-top: 50.5px;
    height: 100vh;
}
.index,.layout {
    height: 100%;
}
